<html>

<head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{globals.baseUrl}" />
    <!-- <base href="http://localhost:2500/" /> -->

    <!-- Title -->
    <title>{headers.title}</title>

    <link rel="stylesheet" type="text/css" href="{headers.css}" />
    <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <img src="public/images/logo.png" alt="logo">
            </div>
            <div class="menu">
                <div class="item">
                    <a href="html/signin" class="textLink">Signin</a>
                </div>
                <div class="item">
                    <a href="html/signup" class="textLink">Signup</a>
                </div>
            </div>
        </div>