<html>

<head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{globals.baseUrl}" />

    <!-- Title -->
    <title>{header.title}</title>
    
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <img src="./images/logo.png" alt="logo">
            </div>
            <div class="menu">
                <div class="item">
                    <a href="./signin.html" class="textLink">Signin</a>
                </div>
                <div class="item">
                    <a href="./signup.html" class="textLink">Signup</a>
                </div>
            </div>
        </div>
        <div class="application">
            <div class="loginForm">
                <div class="header">
                    <div class="title">Welcome to Uptime Check Website</div>
                </div>
                <div class="content">
                    <div class="row">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et est commodo, venenatis lacus et, egestas metus. Etiam rhoncus
                        fringilla ante ut interdum. Nullam blandit eu eros id lacinia. Morbi id auctor est. Proin vitae felis
                        eros. Aliquam at sollicitudin metus. Ut ac ullamcorper ex. Phasellus est est, varius quis pharetra
                        eu, lobortis quis nisl. In at gravida nisl. Integer ut fermentum tortor, id venenatis dolor. Etiam
                        et tellus laoreet, dapibus augue nec, mollis nisi. Duis pharetra eros id ipsum imperdiet interdum.
                        Vestibulum lectus erat, consectetur lobortis neque vitae, vestibulum mattis nisi. Ut enim odio, vulputate
                        eu ultrices nec, pulvinar sed felis.
                        <br>
                        <br> Nam eu velit nibh. Curabitur pellentesque scelerisque laoreet. Nunc aliquet porttitor nibh sit amet
                        commodo. Pellentesque eleifend ligula et tortor placerat fringilla. Integer faucibus tincidunt dolor,
                        ut semper quam sollicitudin aliquam. Nunc sit amet magna lorem. Pellentesque in mi tellus. Integer
                        a ipsum lorem. Donec consectetur risus accumsan eros consectetur, sit amet feugiat massa sodales.
                        Aliquam libero risus, accumsan et metus luctus, varius venenatis orci. Etiam nec neque sed risus
                        auctor consectetur sit amet vel magna. Nullam at eros eu orci tempus suscipit. Suspendisse lectus
                        mi, commodo et vestibulum tempus, varius sed sapien.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>