<html>

<head>
    <!-- General Settings -->
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{globals.baseUrl}" />

    <!-- Title -->
    <title>{header.title}</title>
    
    <link rel="stylesheet" type="text/css" href="signin.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <img src="./images/logo.png" alt="logo">
            </div>
            <div class="menu">
                <div class="item"><a href="./index.html" class="textLink">Home</a></div>
                <div class="item"><a href="./signup.html" class="textLink">Signup</a></div>
            </div>
        </div>
        <div class="application">
            <form id="signin" action="/api/users" method="GET">
                <div class="loginForm">
                    <div class="header">
                        <div class="title">LOGIN</div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="label">Username</div>
                            <div class="userInput">
                                    <input name="username" type="text" placeholder="Username">
                            </div>
                        </div>
                        <div class="row">
                            <div class="label">Password</div>
                            <div class="userInput">
                                    <input name="password" type="text" placeholder="Pasword">
                            </div>
                        </div>
                        <div class="row">
                            <input type="button" value="Login">
                        </div>
                    </div>
                </div>
            </form>
            <div class="signupLink">
                If you don'y have an account please <a href="./signup.html" class="textLink">Signup</a> here
            </div>
        </div>
    </div>
</body>

</html>