<div class="application">
    <form id="signup" action="/api/users" method="POST">
        <div class="loginForm">
            <div class="header">
                <div class="title">LOGIN</div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="label">First Name</div>
                    <div class="userInput">
                        <input name="firstName" type="text" placeholder="First Name">
                    </div>
                </div>
                <div class="row">
                    <div class="label">Last Name</div>
                    <div class="userInput">
                        <input name="lastName" type="text" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="label">Phone</div>
                    <div class="userInput">
                        <input name="phone" type="text" placeholder="Phone">
                    </div>
                </div>
                <div class="row">
                    <div class="label">Username</div>
                    <div class="userInput">
                        <input name="userName" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="label">Password</div>
                    <div class="userInput">
                        <input name="password" type="text" placeholder="Pasword">
                    </div>
                </div>
                <div class="row">
                    <div class="label">Email</div>
                    <div class="userInput">
                        <input name="email" type="text" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <input type="button" value="Signup">
                </div>
            </div>
        </div>
    </form>
    <div class="signupLink">
        If you don'y have an account please
        <a href="./signin.html" class="textLink">Signin</a> here
    </div>
</div>