<div class="application">
    <form id="signin" action="/api/users" method="GET">
        <div class="loginForm">
            <div class="header">
                <div class="title">LOGIN</div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="label">Username</div>
                    <div class="userInput">
                        <input name="username" type="text" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="label">Password</div>
                    <div class="userInput">
                        <input name="password" type="text" placeholder="Pasword">
                    </div>
                </div>
                <div class="row">
                    <input type="button" value="Login">
                </div>
            </div>
        </div>
    </form>
    <div class="signupLink">
        If you don'y have an account please
        <a href="./signup.html" class="textLink">Signup</a> here
    </div>
</div>