<html>

<head>
    <title>Home</title>

    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="./index.css">
    <!-- <link rel="stylesheet" href="./signin.css"> -->
    <!-- <link rel="stylesheet" href="./signup.css"> -->
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- production -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

    <!-- other dependencies -->
    <script src="./home.js"></script>
    <script src="./signin.js"></script>
    <script src="./signup.js"></script>
    <script src="./index.js"></script>
</body>

</html>